<nav class="navbar navbar-expand-md bg-light fixed-top px-3 border-bottom border-secondary border-1">
{#    <div class="container">#}
        <a class="navbar-brand" href="{{ path('app_home') }}">Snowtricks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="{{ path('app_create_trick') }}" class="nav-link active">Créer</a></li>
                <li class="nav-item"><a href="{{ path('app_trick_index') }}" class="nav-link">Tricks</a></li>
                {% if app.user %}
                <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Sign out</a></li>
                {% else %}
                <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Sign in</a></li>
                <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
{#    </div>#}
</nav>