<div class="d-flex align-items-end">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Retour</button>
    {{ form_end(form) }}
    <form action="{{ path('app_trick_delete', { id: trick.id }) }}" method="post" class="d-inline">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce Trick ?')">
            Supprimer
        </button>
    </form>
</div>

