<div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {#    We add this manually because apparently, as opposed to the documentation, it didn't render automatically ??!! #}
    {{ form_row(form._token) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.trickGroup) }}

    <button type="button" class="add_illustration_link btn btn-success mt-2" data-collection-holder-class="illustrations">
        <i class="bi bi-plus-circle text-light"></i> Ajouter une illustration
    </button>
    <ul class="illustrations" data-prototype="{{ form_widget(form.illustrations.vars.prototype)|e }}"
        data-index="{{ form.illustrations|length > 0 ? form.illustrations|last.vars.name + 1 : 0 }}">
    </ul>

    <button type="button" class="add_video_link btn btn-success mt-2" data-collection-holder-class="videos">
        <i class="bi bi-plus-circle text-light"></i> Ajouter une vidéo
    </button>
    <ul class="videos"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
        data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}">
    </ul>

    <hr class="mb-2">
    {{ form_row(form.submit) }}

    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Retour</button>

    {{ form_end(form, { 'render_rest': false }) }}
</div>

{% if app.request.attributes.get('_route') == 'app_trick_edit' %}
    <hr class="mt-2">
    <h3>Images</h3>
    <div id="images-wrapper">
        {% if trick.illustrations|length == 0 %}
            <span>Aucune image pour ce trick.</span>
        {% endif %}
        {% for illustration in trick.illustrations %}
            <div class="col-2 position-relative">
                <img src="{{ asset('/uploads/images/' ~ illustration.filename) }}" alt="" width="150" class="img-thumbnail">
                <form action="{{ path('app_illustration_delete', {id: illustration.id}) }}" method="post" style="display:inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ illustration.id) }}">
                    <button type="submit" class="btn btn-danger trick-illustration-delete-icon" onclick="confirm('Souhaitez-vous vraiment supprimer cette illustration ?')"><i class="bi bi-trash-fill"></i></button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% if app.request.attributes.get('_route') == 'app_trick_edit' %}
        <hr>
        <h3>Videos</h3>
        <div id="videos-wrapper">
            {% if trick.videos|length == 0 %}
                <span>Aucune vidéo pour ce trick.</span>
            {% endif %}
            {% for video in trick.videos %}
                <div class="col-2 position-relative">
                    <iframe src="{{ video.embedLink }}" class="border border-dark border-1 img-thumbnail"></iframe>
                    <form action="{{ path('app_video_delete', {id: video.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
                        <button type="submit" class="btn btn-danger trick-illustration-delete-icon" onclick="confirm('Souhaitez-vous vraiment supprimer cette vidéo ?')"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}



