{% extends 'base.html.twig' %}

{% block title %}: Trick {{ trick.name }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="text-center">
                <h1>{{ trick.name }}</h1>
                <p class="text-muted">Groupe: {{ trick.trickGroup.name }}</p>
            </div>

            <div class="my-4">
                <p>{{ trick.description }}</p>
            </div>

            {% include 'trick/_media_carousel.html.twig' %}

            <div class="hstack gap-1 mb-4">
                {% if is_granted('ROLE_VERIFIED_USER') %}
                    <a href="{{ path('app_trick_edit', {'id':trick.id}) }}" class="btn btn-primary">Modifier</a>
                    <form action="{{ path('app_trick_delete', { id: trick.id }) }}" method="post" class="d-inline">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce Trick ?')">
                            Supprimer
                        </button>
                    </form>
                {% endif %}
                <a href="{{ path('app_trick_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>

            {% include 'trick/messages/_messages_list.html.twig' %}
            {% include 'trick/messages/_messages_form.html.twig' %}
            {% include 'trick/messages/_messages_pagination.html.twig' %}
        </div>
    </div>
{% endblock %}