{% extends 'base.html.twig' %}

{% block title %}: Trick {{ trick.name }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            {% if trick.illustrations|length > 0 %}
                <div class="cover-image position-relative mb-4"
                     style="width: 100%; height: 60vh; min-height: 400px; max-height: 600px; overflow: hidden;">

                    <img src="{{ asset('/uploads/images/' ~ trick.illustrations[0].filename) }}"
                         alt="Trick Cover Image"
                         class="img-fluid w-100 h-100"
                         style="object-fit: cover; object-position: top center;">

                    <div class="position-absolute top-50 start-50 translate-middle text-white text-center"
                         style="background: rgba(0, 0, 0, 0.5); padding: 10px 20px; border-radius: 8px; width: 90%;">
                        <h1 class="fw-bold">{{ trick.name }}</h1>
                    </div>
                </div>
            {% else %}
                <div class="text-center">
                    <h1>{{ trick.name }}</h1>
                </div>
            {% endif %}

            {% include 'trick/_trick_medias.html.twig' %}

            <div class="my-4">
                <p>{{ trick.description }}</p>
            </div>

            <div class="hstack gap-3">
                <p class="text-muted">Publié par : {{ trick.author.username }}</p>
                <p class="text-muted">Groupe: {{ trick.trickGroup.name }}</p>
                <p class="text-muted">Créé le : {{ trick.createdAt|date('d-m-Y') }}</p>
                {% if trick.updatedAt %}
                    <p class="text-muted">Modifié le : {{ trick.updatedAt|date('d-m-Y') }}</p>
                {% endif %}
            </div>

            <div class="hstack gap-1 mb-4">
                {% if is_granted('ROLE_VERIFIED_USER') %}
                    <a href="{{ path('app_trick_edit', {'id':trick.id}) }}" class="btn btn-primary">Modifier</a>
                {% endif %}
                <a href="{{ path('app_trick_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>

            {% include 'trick/messages/_messages_list.html.twig' %}
            {% include 'trick/messages/_messages_form.html.twig' %}
            {% include 'trick/messages/_messages_pagination.html.twig' %}
        </div>
    </div>
{% endblock %}