{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="text-center">
                <h1>{{ trick.name }}</h1>
                <p class="text-muted">Groupe: {{ trick.trickGroup.name }}</p>
            </div>

            <div class="my-4">
                <p>{{ trick.description }}</p>
            </div>

            <div id="imageCarousel" class="carousel slide mb-4">
                {% if trick.illustrations|length == 0 and trick.videos|length == 0 %}
                <div class="text-center">
                    <p>Aucun média n'a été trouvé pour ce Trick... <i class="bi-emoji-frown"></i></p>
                </div>
                {% else %}
                <div class="carousel-indicators">
                    {% for i in 0..(trick.illustrations|length + trick.videos|length - 1) %}
                        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="{{ i }}"
                                class="{% if i == 0 %}active{% endif %}"
                                aria-current="{% if i == 0 %}true{% endif %}"
                                aria-label="Slide {{ i + 1 }}"></button>
                    {% endfor %}
                </div>

                <div class="carousel-inner">
                    {% for image in trick.illustrations %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <img src="{{ asset('/uploads/'~image.filename) }}" class="d-block mx-auto carousel-media" alt="{{ image.filename }}">
                        </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="carousel-item {% if trick.illustrations|length == 0 and loop.first %}active{% endif %}">
                            <iframe
                                    src="{{ video.embedLink }}"
                                    allowfullscreen
                                    class="d-block mx-auto carousel-media">
                            </iframe>
                        </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                    <i class="bi bi-chevron-left text-dark carousel-control-prev-icon"></i>
                    <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                    <i class="bi bi-chevron-right text-dark carousel-control-next-icon"></i>
                    <span class="visually-hidden">Suivant</span>
                </button>
                {% endif %}
            </div>

            <div class="hstack gap-1 mb-4">
            {% if is_granted('ROLE_VERIFIED_USER') %}
                <a href="{{ path('app_trick_edit', {'id':trick.id}) }}" class="btn btn-primary">Modifier</a>
                <form action="{{ path('app_trick_delete', { id: trick.id }) }}" method="post" class="d-inline">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce Trick ?')">
                        Supprimer
                    </button>
                </form>
            {% endif %}
                <a href="{{ path('app_trick_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>

            <div class="mb-5">
                <h3>Messages</h3>
                {% if trick.messages is empty %}
                    <p>Aucun message. Soyez le premier à commenter ce trick !</p>
                {% else %}
                    <ul class="list-unstyled">
                        {% for message in trick.messages %}
                            <li class="mb-3">
                                <strong>{{ message.user }}</strong> - <small class="text-muted">{{ message.createdAt|date('F j, Y, g:i a') }}</small>
                                <p>{{ message.content }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if is_granted('ROLE_VERIFIED_USER') %}
                    {#            <form method="post" action="{{ path('message_add', {'trick_id': trick.id}) }}"> #}
                    <div class="mb-3">
                        <label for="messageContent" class="form-label">Ajouter un message</label>
                        <textarea class="form-control" id="messageContent" name="message_content" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    {#            </form> #}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}